@import "typography";

$bgBlue: #E0EBF5;
$bgWhite: #FFFFFF;
$headerHeight: 40px;

html, body {
  height: 100%;
}

body {
  background-color: $bgBlue;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  height: $headerHeight;

  background: #fff;
  border-bottom: 1px solid #b7b7b7;

  h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 10px;

    color: gray;
    font-size: 1.5em;
  }
}

.tutorial {
  position: fixed;
  top: $headerHeight+1;
  left: 0;
  right: 0;
  bottom: 0;

  h1:first-of-type {
    margin-top: 0;
  }

  .left, .right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: $bgBlue;
  }

  .left {
    right: 50%;
  }

  .right {
    left: 50%;
  }

  div.vertical {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;

    margin: 0 -4px;
    width: 8px;
    cursor: ew-resize;

    z-index: 1;

    background-color: $bgBlue;
  }

  .markdown {
    padding: 6px;
    height: 100%;
    background-color: $bgWhite;
  }

  .left {
    
    & > div {
      position: absolute;
    }

    .editor {
      left: 0;
      right: 0;
      bottom: 34%;
      top: 0;
    }

    .horizontal {
      left: 0;
      right: 0;
      bottom: 34%;
      top: 67%;

      margin: -4px 0;
      height: 1%;
      cursor: ns-resize;
    }


    .console {
      left: 0;
      right: 0;
      bottom: 0;
      top: 67%;

      textarea {
        top: 30px;
      }

      .menu {
        position: relative;

        height: 30px;
        padding: 4px;

        background: rgba(0,0,0,0.25);
      }

      .compile {
        float: right;

        padding: 4px 4px 1px 4px;
        margin: 0 8px 0 0;

        display: inline-block;

        border: 1px solid black;
        background: white;
        border-radius: 4px;

        cursor: pointer;

        &:hover {
          color: white;
          background: black;
        }
      }
    }

    textarea {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;

      box-sizing: border-box;
      border: 0;
      resize: none;
      outline: none;
    }

  }

}