@import "typography";

body {
  padding: 35px 0px;
  background-color: #E0EBF5;
}

.tutorial {
  .l-box {
    background-color: #fff;
    margin: 0.5em;
    padding: 0.5em;
  }

  textarea[name="code"] {
    min-height: 500px;
  }

  textarea[name="console"] {
    min-height: 200px;
  }
}